<link rel="stylesheet" href="app/pages/home/style.css">
<div class="content">
	<h1><%= title %></h1>

	<img class="logo" src='app/pages/home/img/logo.png'/>
	<div class="disc"></div>
	<div class="picture"></div>
	<div class="rails" >
		<div class="path aurizon">
			<div class="bigdot"></div>
			<div class="text"><%= aurizon %></div>
		</div>
		<div class="path cefaseptin">
			<div class="bigdot"></div>
			<div class="text"><%= cefaseptin %></div>
		</div>
		<div class="path clindaseptin">
			<div class="bigdot"></div>
			<div class="text"><%= clindaseptin %></div>
		</div>
		<div class="path marbocyl">
			<div class="bigdot"></div>
			<div class="text"><%= marbocyl %></div>
		</div>
		<div class="path oridermyl">
			<div class="bigdot"></div>
			<div class="text"><%= oridermyl %></div>
		</div>
		<div class="path range">
			<div class="bigdot"></div>
			<div class="text"><%= range %></div>
		</div>
		<div class="path sonotix">
			<!--<div class="bigdot"></div>-->
			<!--<div class="text"><%= sonotix %></div>-->
		</div>
		<div class="path clavaseptin">
			<div class="bigdot"></div>
			<div class="text"><%= clavaseptin %></div>
		</div>
	</div>
</div>
