<link rel="stylesheet" href="app/pages/marbocyl_convenience/style.css">

<div class="pageTitle">
	<h1><%= title %></h1>
</div>

<div class="content">
	<p class="title"><%= marbocyl.p.tile %></p>

	<ul class="blocs">
		<li>
			<div class="colortop">5 mg</div>
			<span>= 1 kg</span>
			<span>= 2.5 kg</span>
		</li>
		<li>
			<div class="colortop">20 mg</div>
			<span>= 5 kg</span>
			<span>= 10 kg</span>
		</li>
		<li>
			<div class="colortop">80 mg</div>
			<span>= 20 kg</span>
			<span>= 40 kg</span>
		</li>
	</ul>

	<p class="blue legend"><%= marbocyl.p.legend %></p>

	<p class="title"><%= marbocyl.fd.title %></p>
	<div class="subbloc">
		<p class="bulle"><%= marbocyl.fd.text %></p>
		<ul>
			<li><%= marbocyl.fd.list[0] %></li>
			<li><%= marbocyl.fd.list[1] %></li>
			<li><%= marbocyl.fd.list[2] %></li>
		</ul>
	</div>
	
</div>