li { list-style: none; }
.pageTitle h1 { background: #0B2892; }

.content {
	margin: 150px 30px 0 105px;
	font-style: italic;
	color: #405054;
	font-size: 15px;
}
.content li {
	position: relative;
	margin-bottom: 16px;
}
.content li .sub {
	position: absolute;
	left: -24px
}