li { list-style: none; }

/*#cefa_presentation2 {
	background: url('img/ref.jpg');
}
*/
#cefa_presentation2 .pageTitle h1 { background: #aa4237; }

#cefa_presentation2 .content {
	font-size: 28px;
	margin: 215px 75px;
	color: #749096;
	font-family: "FuturaStdBook";
	width: 870px;
}

#cefa_presentation2 .content b {
	font-family: "FuturaStdHeavy";
    background: #fff;
    padding: 7px 20px;
    border-radius: 15px 0;
    box-shadow: 0 0 10px 2px #afc1c7;
}

#cefa_presentation2 .item {
	position: relative;
	margin-bottom: 23px;
	margin-left: 30px;
}

#cefa_presentation2 .item:before {
	content: '';
	width: 20px; height: 20px;
	position: absolute;
	top: 5px; left: -30px;
	background: #aa4237;
	border-radius: 22px;
}
