
<link rel="stylesheet" href="app/pages/clind_efficacy/style.css">

<div class="pageTitle">
	<h1><%= title %></h1>
</div>

<div class="content">

	<h2><%= bloc1.title %></h2>

	<h2><%= bloc2.title %></h2>
	<ul class="listeplay">
		<% for(var i in bloc2.list) { %>

			<li><%= bloc2.list[i] %></li>

		<% } %>
	</ul>

	<h2><%= bloc3.title %></h2>
	<ul class="listeplay">
		<% for(var i in bloc3.list) { %>

			<li><%= bloc3.list[i] %></li>

		<% } %>
	</ul>

	<img class="supshow" src="app/pages/clind_efficacy/img/background.png">

</div>