<link rel="stylesheet" href="app/pages/marbocyl_injectable/style.css">

<div class="pageTitle">
	<h1><%= title %></h1>
</div>

<img src="app/pages/marbocyl_injectable/img/background.png">

<ul class="content">
	<% for(var i in list) { %>
		<li><%= list[i] %></li>
	<% } %>
</ul>

<div class="popup">

	<div class="bloc itu" >
		<div class="close">+</div>
		<div class="title"><%= popup1.title %></div>
		<div class="contain">
			<div><%= popup1.texte %></div>
			<div class="picture"></div>		
		</div>		
	</div>

</div>