li { list-style: none; }

#oryd_convenience .pageTitle h1 { background: #8e8e8e; }

#oryd_convenience .content {
	font-size: 28px;
	margin: 185px auto;
	color: #749096;
	font-family: "FuturaStdBook";
	width: 600px;
}

#oryd_convenience .content b {
	font-family: "FuturaStdHeavy";
    background: #fff;
    padding: 7px 20px;
    border-radius: 15px 0;
    box-shadow: 0 0 10px 2px #afc1c7;
}

#oryd_convenience .item {
	position: relative;
	margin-bottom: 35px;
	margin-left: 30px;
	line-height: 42px;
}

#oryd_convenience .item:before {
	content: '';
	width: 20px; height: 20px;
	position: absolute;
	top: 4px; left: -30px;
	background: #8e8e8e;
	border-radius: 22px;
}

