
<link rel="stylesheet" href="app/pages/range_indications/style.css">
<div class="content"></div>

<div class="detail" data-link="ear"><div class="bloc"><%= ear %></div><div class="close">+</div></div>
<div class="detail" data-link="oral"><div class="bloc"><%= oral %></div><div class="close">+</div></div>
<div class="detail" data-link="respiratory"><div class="bloc"><%= respiratory %></div><div class="close">+</div></div>
<div class="detail" data-link="pyoderma"><div class="bloc"><%= pyoderma %></div><div class="close">+</div></div>
<div class="detail" data-link="osteo"><div class="bloc"><%= osteo %></div><div class="close">+</div></div>
<div class="detail" data-link="surgical"><div class="bloc"><%= surgical %></div><div class="close">+</div></div>
<div class="detail" data-link="urinary"><div class="bloc"><%= urinary %></div><div class="close">+</div></div>
<div class="detail" data-link="digestive"><div class="bloc"><%= digestive %></div><div class="close">+</div></div>
<div class="detail" data-link="wounds"><div class="bloc"><%= wounds %></div><div class="close">+</div></div>


<div class="puce" data-link="ear"></div>
<div class="puce" data-link="oral"></div>
<div class="puce" data-link="respiratory"></div>
<div class="puce" data-link="pyoderma"></div>
<div class="puce" data-link="osteo"></div>
<div class="puce" data-link="surgical"></div>
<div class="puce" data-link="urinary"></div>
<div class="puce" data-link="digestive"></div>
<div class="puce" data-link="wounds"></div>