li { list-style: none; }

#cefa_praticite {
	/*background: url('img/ref.jpg');*/
}

#cefa_praticite .pageTitle h1 { background: #aa4237; padding: 30px 45px;}

#cefa_praticite .content {
	font-size: 28px;
	margin: 235px 80px;
	color: #749096;
	font-family: "FuturaStdBook";
	width: 860px;
}

#cefa_praticite .content b {
	font-family: "FuturaStdHeavy";
}


#cefa_praticite .intro {
	position: relative;
	display: inline-block;
	font-family: "FuturaStdHeavy";
	font-size: 32px;
	color: #aa4237;
	background: #fff;
	padding: 7px 20px;
	border-radius: 15px 0;
	box-shadow: 0 0 10px 2px #afc1c7;
	margin-bottom: 25px;
}

#cefa_praticite .item {
	position: relative;
	margin-bottom: 20px;
	margin-left: 30px;
}

#cefa_praticite .item:before {
	content: '';
	position: absolute;
	top: 4px;
	left: -30px;
	width: 23px;
	height: 23px;
	background: url('img/puce.png');
	background-size: 23px;
}

#cefa_praticite ul { 
	margin-left: 40px; 
	margin-top: 10px; 
	width: 600px;
}

#cefa_praticite ul li {
	position: relative;
	font-size: 18px;
	margin-bottom: 2px;
}

#cefa_praticite ul li:before {
	content: "• ";
}

#cefa_praticite .packs {
	content: '';
	position: absolute;
	top: 235px;
	right: 35px;
	width: 410px;
	height: 310px;
	background: url('img/packs.png');
}


