#range_services .introBloc{
	position: absolute;
  padding: 25px 20px;
	background-color: #fff;
	width: 420px; height: 220px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);	
	margin: 6px;  
}

#range_services .introBloc .title{
  font-family: "FuturaStdHeavy";
  font-size: 24px;
  color: #0072cf;
}

#range_services .introBloc.prescription{
	right: 50%;
	bottom: 50%;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#range_services .introBloc.data{
	left: 50%;
	bottom: 50%;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
}
#range_services .introBloc.services{
	left: 50%;
	top: 50%;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
#range_services .introBloc.education{
	right: 50%;
	top: 50%;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

#range_services .introBloc ul {
  list-style: none;
  font-family: "FuturaStdBook";
  font-size: 16px;
  color: #7c959d;
  padding: 10px 0 0 30px;
}

#range_services .introBloc ul li {
  position: relative;
  margin-bottom: 10px;
  z-index: 2;
}

#range_services .introBloc ul li:before {
  content: "";
  position: absolute;
  top: -3px; left: -30px;
  width: 23px; height: 23px;
  background: url('img/puce.png');
  background-size: 23px;
}

#range_services .introBloc.prescription ul li:nth-child(2):after,
#range_services .introBloc.prescription ul li:nth-child(4):after,
#range_services .introBloc.education ul li:after,
#range_services .introBloc.services ul li:nth-child(2):after,
#range_services .introBloc.services ul li:nth-child(3):after {
  content: "i";
  width: 20px; height: 20px;
  position: absolute;
  right: 0; top: 0;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  background-color: #ab46a8;
  border-radius: 20px;
  font-family: "times";
  font-style: italic;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1px;
}

#range_services .introBloc ul li .sub {
  font-size: 12px;
}

#range_services .introBloc.data .picture {
  width: 129px; height: 52px;
  background: url('img/picutre_donnees.jpg') no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 5px; right: 10px;
}

/***/

/*
* POPUP
*/

#range_services .popup {
  display: none;
  position: absolute;
  top: 0; left: 0;
  z-index: 10;
  width: 100%; height: 668px;
  background-color: rgba( 0, 0, 0, .7);
}

#range_services .popup .bloc {
  position: absolute;
  left: 50%; top: 50%;
  margin: -290px 0 0 -370px;
  width: 740px; height: 580px;
  background-color: #0072cf;
  border-radius: 0 50px 0 50px;
}

#range_services .popup .bloc .close {
  position: absolute;
  right: 25px; top: 25px;
  margin-top: -15px;
  font-size: 40px;
  transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
  font-family: "FuturaStdBold";
  color: #FFF;
  cursor: pointer;
}

#range_services .popup .bloc .title {
  padding: 20px;
  font-size: 29px;
  font-family: "FuturaStdHeavy";
  color: #FFF;
  text-align: center;
}
#range_services .popup .bloc .title .logofont {
  font-family: "flora-bold";
  font-size: 40px;
}
#range_services .popup .bloc .title .oneline {
  margin-top: 10px;
  display: inline-block;
}

#range_services .popup .bloc .content {
  position: absolute;
  left: 0; top: 100px; 
  width: 100%;
  height: 480px;
  background-color: #fff;
  border-radius: 0 0 0 50px;
}

#range_services .popup .bloc .content ul {
  width: 300px;
  position: absolute;
  left: 80px; top: 0;
  list-style: none;
  font-family: "FuturaStdBook";
  font-size: 16px;
  color: #7c959d;
}

#range_services .popup .bloc .content ul li {
  position: relative;
  margin-bottom: 25px;
  z-index: 2;
}

#range_services .popup .bloc .content ul li:before {
  content: "";
  position: absolute;
  left: -30px; top: -2px;
  width: 23px; height: 23px;
  background: url('img/puce.png');
  background-size: 23px;
}


#range_services .popup .bloc .picture {
  width: 100%; height: 100%;
  position: absolute;
}
#range_services .popup .bloc.education-0 .picture { background: url('img/pop5.jpg') no-repeat 60px 95px; }
#range_services .popup .bloc.education-1 .picture { background: url('img/pop4.jpg') no-repeat center; }
#range_services .popup .bloc.education-2 .picture { background: url('img/pop3.jpg') no-repeat 60px 225px; }
#range_services .popup .bloc.services-1 .picture { background: url('img/pop2.png') no-repeat; left: 30px; top: 10px; height: 110%; }
#range_services .popup .bloc.services-2 .picture { background: url('img/pop1.jpg') no-repeat center 10px; }
#range_services .popup .bloc.slide1 .picture { background: url('img/pop6.png') no-repeat; top: -10px; left: 10px; }
#range_services .popup .bloc.slide2 .picture { background: url('img/pop7.jpg') no-repeat; left: 10px; }
#range_services .popup .bloc.slide3 .picture { background: url('img/pop8.png') no-repeat; top: -50px; left: 20px; height: 110%; }
#range_services .popup .bloc.prescription-1 .picture { background: url('img/doc_fr.jpg') no-repeat center; }

#range_services b {
  font-family: "FuturaStdHeavy" !important;
}
#range_services .popup .bloc.services-2 .content ul {
  width: 100%;
  color: #156dd9;
  font-family: "FuturaStdBold";
  top: initial;
  bottom: 20px; left: 0;
  text-align: center;
  font-size: 14px;
}
#range_services .popup .bloc.services-2 .content ul li { display: inline-block; }
#range_services .popup .bloc.services-2 .content ul li:nth-child(2) { margin: 0 60px; }
#range_services .popup .bloc.services-2 .content ul li:before { top: -4px; }


#range_services .popup .bloc.prescription-1 { width: 660px; height: 480px; margin: -240px 0 0 -330px; }
#range_services .popup .bloc.prescription-1 .content { height: 380px }
#range_services .popup .bloc.prescription-1 .picture { top: -50px; left: -30px; }
#range_services .popup .bloc.prescription-1 .loupe {
  display: inline-block;
  width: 50px; height: 50px;
  position: absolute;
  right: 20px; top: 30px;
  background: url('img/loupe.png') no-repeat center;
  background-size: cover;
  cursor: pointer;
}


#range_services .popup .bloc.services-1 .content ul {
  width: 480px;
  top: 40px;
  color: #016fd1;
}
#range_services .popup .bloc.services-1 .content ul li { margin-bottom: 10px; }
#range_services .popup .bloc.services-1 .content .drnames {
  position: absolute;
  bottom: 80px; left: 56px;
  font-family: "FuturaStdHeavy";
  color: #016fd1;
  font-size: 15px;
}
#range_services .popup .bloc.services-1 .content .drnames:nth-of-type(2) { left: 212px }
#range_services .popup .bloc.services-1 .content .drnames:nth-of-type(3) { left: 390px }


#range_services .popup .bloc.education-2 .content ul { width: 640px; top:40px; color: #016fd1; }
#range_services .popup .bloc.education-2 .content ul li { margin-bottom: 10px; }
#range_services .popup .bloc.education-2 .content .drnames {
  position: absolute;
  top: 380px; left: 74px;
  font-size: 12px;
  color: #016fd1;
  font-family: "FuturaStdHeavy";
}
#range_services .popup .bloc.education-2 .content .drnames:nth-of-type(2) { left: 280px }
#range_services .popup .bloc.education-2 .content .drnames:nth-of-type(3) { left: 515px }
#range_services .popup .bloc.education-2 .content .drnames .sub {
  display: block;
  color: #405054;
  font-family: "FuturaStdHeavyOblique";
}


#range_services .popup .bloc.education-0 .content ul { width: 360px; top:40px; color: #016fd1; }
#range_services .popup .bloc.education-0 .content ul .sub { display: block; color: #666; margin: 5px 0 }
#range_services .popup .bloc.education-0 .content .drnames {
  position: absolute;
  top: 380px; left: 62px;
  font-size: 12px;
  color: #016fd1;
  font-family: "FuturaStdHeavy";
}
#range_services .popup .bloc.education-0 .content .drnames:nth-of-type(2) { left: 290px }
#range_services .popup .bloc.education-0 .content .drnames:nth-of-type(3) { left: 515px }
#range_services .popup .bloc.education-0 .content .drnames .sub {
  display: block;
  color: #405054;
  font-family: "FuturaStdHeavyOblique";
}
#range_services .popup .bloc.education-0 .content .part {
  position: absolute;
  right: 110px; top: 70px;
  font-size: 18px;
  font-family: "FuturaStdHeavy";
  color: #016fd1;
}


#range_services .popup .prescription-3 {
  width: 670px; height: 490px;
  margin: -245px 0 0 -335px;
}
#range_services .popup .prescription-3 .content {
  height: 390px;
}
#range_services .popup .prescription-3 .content .text {
  position: relative;
  top: 10px;
}
#range_services .popup .prescription-3 .content ul li {
  margin: 0 0 10px 30px;
}
#range_services .popup .prescription-3 .nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -37px;
}
#range_services .popup .prescription-3 .nav span {
  width: 74px; height: 74px;
  position: absolute;
  top: 50%;
  margin-top: -37px;
  background-color: #0072cf;
  border-radius: 74px;
  cursor: pointer;
}
#range_services .popup .prescription-3 .nav .navleft { left: -125px; }
#range_services .popup .prescription-3 .nav .navright { right: -125px; }
#range_services .popup .prescription-3 .nav span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -15px;
    border: 10px solid #FFF;
    border-bottom-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#range_services .popup .prescription-3 .nav .navleft:after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    margin-left: -5px;
}


#range_services .popup .slide1 .content ul { width: 340px }
#range_services .popup .slide1 .content .text { left: 190px }
#range_services .popup .slide1 .content ul li:nth-child(1),
#range_services .popup .slide1 .content ul li:nth-child(7),
#range_services .popup .slide1 .content ul li:nth-child(8) { font-family: "FuturaStdHeavy"; font-size: 18px; margin: 20px 0; }
#range_services .popup .slide1 .content ul li:nth-child(1):before,
#range_services .popup .slide1 .content ul li:nth-child(7):before,
#range_services .popup .slide1 .content ul li:nth-child(8):before { content: none; }
#range_services .popup .slide1 .content ul li:nth-child(8) { color: #000; text-align: center; margin-top: 40px; }


#range_services .popup .slide2 .content ul { width: 430px }
#range_services .popup .slide2 .content .text { left: 150px }
#range_services .popup .slide2 .content ul li:nth-child(1),
#range_services .popup .slide2 .content ul li:nth-child(6),
#range_services .popup .slide2 .content ul li:nth-child(7) { font-family: "FuturaStdHeavy"; font-size: 18px; margin: 20px 0; }
#range_services .popup .slide2 .content ul li:nth-child(1):before,
#range_services .popup .slide2 .content ul li:nth-child(6):before,
#range_services .popup .slide2 .content ul li:nth-child(7):before { content: none; }
#range_services .popup .slide2 .content ul li:nth-child(6) { font-family: "FuturaStdBook"; margin-top: 50px; }
#range_services .popup .slide2 .content ul li:nth-child(7) { color: #000; text-align: center; margin-top: 40px; }


#range_services .popup .slide3 .content ul { width: 430px }
#range_services .popup .slide3 .content .text { left: 150px; top: 40px; }
#range_services .popup .slide3 .prescription-3 .content ul li { margin-left: 0; }
#range_services .popup .slide3 .content ul li:nth-child(3),
#range_services .popup .slide3 .content ul li:nth-child(6) { font-family: "FuturaStdHeavy"; font-size: 18px; margin: 30px 0; text-align: center; }
#range_services .popup .slide3 .content ul li:nth-child(3):before,
#range_services .popup .slide3 .content ul li:nth-child(6):before { content: none; }
#range_services .popup .slide3 .content ul li:nth-child(4):before,
#range_services .popup .slide3 .content ul li:nth-child(5):before {  background: url('img/puce_green.png'); background-size: 23px; }
#range_services .popup .slide3 .content ul li:nth-child(3) { color: #00a144 }
#range_services .popup .slide3 .content ul li:nth-child(6) { color: #000; }

