li { list-style: none; }
.pageTitle h1 { background: #0B2892; }

#marbocyl_marbogenerics .content {
	font-size: 32px;
	margin: 160px 140px;
	color: #749096;
}
#marbocyl_marbogenerics b { font-family: FuturaStdHeavy; color: #0B2892 }
#marbocyl_marbogenerics p {
	margin-bottom: 35px;
	background: #fff;
	padding: 5px 10px;
	border-radius: 15px 0;
	box-shadow: 0 0 10px 2px #afc1c7;
}
#marbocyl_marbogenerics ul { margin-left: 16px }
#marbocyl_marbogenerics ul li {
	margin-bottom: 12px;
	position: relative;
}
#marbocyl_marbogenerics ul li:before {
	content: '';
	position: absolute;
	top: 8px;
	left: -28px;
	width: 23px;
	height: 23px;
	background: url('img/puce.png');
	background-size: 23px;
}