li { list-style: none; }

#aurizon_convenience .pageTitle h1 { background: #0B2892; }

#aurizon_convenience .content {
	font-size: 28px;
	margin: 185px 160px;
	color: #749096;
	font-family: "FuturaStdBook";
	width: 700px;
}

#aurizon_convenience .content b {
	font-family: "FuturaStdHeavy";
}

#aurizon_convenience .item {
	position: relative;
	margin-bottom: 23px;
	margin-left: 30px;
}

#aurizon_convenience .item:before {
	content: '';
	position: absolute;
	top: 4px;
	left: -30px;
	width: 23px;
	height: 23px;
	background: url('img/puce.png');
	background-size: 23px;
}


#aurizon_convenience .visu {
	position: absolute;
	top:390px;
	width: 272px; height: 216px;
	background: url('img/visu_bg.png');
	padding-top: 170px;
	padding-left: 33px;
	padding-right: 60px;
	font-size: 14px;
	color: #0B2892;
}

#aurizon_convenience .visu1 { left: 250px; }
#aurizon_convenience .visu2 { left: 530px; }

#aurizon_convenience .visu:after {
	content: "";
	position: absolute;
	left: 19px; top:7px;
	width: 206px; height: 153px;
}

#aurizon_convenience .visu1:after {background: url('img/visu1.png');}
#aurizon_convenience .visu2:after {background: url('img/visu2.png');}